html{
    background: url(back-img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dados h1{
    color: white;
    background: teal;
    max-width: 40%;
    border-radius: 30px;
    text-align-last: center;
}
.dados{
    margin-top: 50px;
    padding: 20px;
    display: grid;
    gap: 1em;
    text-align: left;
}
.inputField{
    padding: 10px;
    border: 2px solid teal;
    border-radius: 30px;
}

/* Toggle Button */
#tributos{
    -webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}
/* To create surface of toggle button */
#tributos:after {
	content: '';
	width: 40px;
	height: 20px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}
/* Contents before checkbox to create toggle handle */
#tributos:before {
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	left: -5px;
	bottom: 6px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Shift the handle to left on check event */
#tributos:checked:before {
	left: 30px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
#tributos:checked:after {
	background: teal;
}
/* Transition for smoothness */
#tributos,
#tributose:before,
#tributos:after,
#tributos:checked:before,
#tributos:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

.eventos{
    display: flex;
    flex-direction: column;
}
.print{
    background: white;
    display: block;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    width: 950px;
}
.print h2{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.print h3{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    margin-left: 10px;
}
.assinatura{
    margin-top: 50px;
    border-top: 1px solid black;
    text-align: center;
}
button {
    width: 8em;      
    height: 3em;
    border: none;
    border-radius: .25em;
    color: white;
    background-color: teal;
    cursor: pointer;
    border-radius: 20px;
}

@media print {
    .print{
        display: block;
    }
    .dados{
        display: none;
    }
}-->