body{
    font-family: 'Sarala', sans-serif;
    background-color: var(--primary-color);
}

.menu-top{
    min-height: 50px;
    min-width: auto;
    color: white;
    margin-top: -10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
}
.dropdown-child {
    display: none;
    min-width: auto;
    max-height: 100px;
}
.dropdown-child a {
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

#temaicone{
    max-height: 25px;
    max-width: 25px;
    cursor: pointer;
    background-color: #edf2fc;
    border-radius: 50%;
}

:root{
    --primary-color: #090E21;
    --secondary-color: #edf2fc;
}

.day-theme{
    --primary-color: #EDF2FC;
    --secondary-color: #090E21;
}

.maincontent {
    margin-left: 10%;
    margin-right: 10%;
}

.info {
    display: flex;
    flex-direction: row;
}

.img-box{
    width: 15%;
    height: 60%;
    position: absolute;
    bottom: 18%;
    right: 39%;
}

.img-box img{
    position: absolute;
    bottom: 0;
    border: none;
    transition: 1s;
}

.img-box:hover .back-img {
    transform: rotate(52deg);
    bottom: 40px;
}

.atributos {
    margin-top: 50px;
    color: var(--secondary-color);
    border-width: auto;   
}

#contato {
    margin-top: 5%;
    color: var(--secondary-color);
}

a {
   text-decoration: none;
   color: var(--secondary-color);
   border-bottom: none;
   
}

a:hover {
    border-bottom: solid 1px var(--secondary-color);
}
#footer {
    margin-top: 75px;
    color: var(--secondary-color);
    font-family: 'Righteous', cursive;
    font-size: 50px;
}