body{
    font-family: 'Sarala', sans-serif;
    background-color: var(--primary-color);
}

header{
    grid-area: menutop;
    min-height: 50px;
    min-width: auto;
    color: var(--secondary-color);
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#btn-mobile{
    display: block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    font-size: larger;
    font-weight: bolder;
}

#dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: 10px;
}
#dropdown-child {
    position: absolute;
    display: none;
    min-width: 200px;
    max-height: 400px;
    padding: 5px;
}

#dropdown.active #dropdown-child{
    display: block;
    list-style: none;   
}

#temaicone{
    max-height: 25px;
    max-width: 25px;
    cursor: pointer;
    background-color: #edf2fc;
    border-radius: 50%;
}

:root{
    --primary-color: #090E21;
    --secondary-color: #edf2fc;
}

.day-theme{
    --primary-color: #EDF2FC;
    --secondary-color: #090E21;
}

.maincontent {
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.info {
    display: flex;
    flex-direction: row;
}

.atributos {
    grid-area: content;
    margin-top: 40px;
    color: var(--secondary-color);
    width: 100vh;
}

#contato {
    margin-top: 5%;
    color: var(--secondary-color);
}

a {
   text-decoration: none;
   color: var(--secondary-color);
   border-bottom: none;
   
}

a:hover {
    border-bottom: solid 1px var(--secondary-color);
}

#footer {
    color: var(--secondary-color);
    font-family: 'Righteous', cursive;
    text-align: justify;
    font-size: 40px;
    max-width: 100vh;
}

@media only screen and (max-width: 600px) {
    body{
        grid-template-areas: 
        "menutop"
        "content";
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
    }
    .img-box{
        display: none;
    }
}